.vscode
.gitignore
.gitmodules
README.md

doc/

libcaff/obj/
libcaff/test-obj/
libcaff/main-obj/
libcaff/build/
libcaff/include/kaitai/
libcaff/*.docker
libcaff/.gitignore
libcaff/.dockerignore

nginx/

server/data/
server/server
server/.gitignore
