{{ define "head" }}
{{ end }}

{{ define "content" }}
<h2>Registration form</h2>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">

    <label for="username">Username:</label>
    <input type="text" maxlength="16" placeholder="username" name="username">

    <label for="password">Password:</label>
    <input type="password" placeholder="password" name="password">

    <label for="password_confirm">Password:</label>
    <input type="password" placeholder="confirm password" name="password_confirm">

    <input type="submit">
</form>
{{ end }}}
